<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../static/function.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>List Product</title>
</head>
<body>
<div>
    <h1>List</h1>
    <table id="emp" border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>jobTitle</th>
            <th>Phone</th>
            <th>imageUrl</th>
            <th>employeeCode</th>
        </tr>
        <button onclick="showList()">Show</button>
        <tbody id="list">
        </tbody>
    </table>
</div>
</body>
</html>
